.service {

  border-bottom: 1px solid $gray-ef;
  padding-top: 25px;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .icon-wrapper {
    padding-left: 10;
    padding-right: 10;

    small {
      font-size: 0.8em;
      padding-top: 10;
      color: $gray-light;
      display: block;
    }

  }

  .icon-header {
    padding-top: 50;
    padding-bottom: 50;
  }

  .custom-icon {

    i {
      font-size: 3em;
      margin: auto;
      display: inline-block;
      padding: 10;
      background: transparent;
      -webkit-border-radius: 1100%;
      -moz-border-radius: 100%;
      -o-border-radius: 100%;
      border-radius: 100%;
      border: none;
      color: $white;

      @media (max-width: 767px) {
        padding: 8px;
        font-size: 45px;
      }
    }
  }

  .red {
    @extend .custom-icon;

    i {
      background: $hexagon-red;
    }
  }

  .orange {
    @extend .custom-icon;

    i {
      background: $hexagon-orange;
    }
  }

  .yellow {
    @extend .custom-icon;

    i {
      background: $hexagon-yellow;
    }
  }

  .green {
    @extend .custom-icon;

    i {
      background: $hexagon-green;
    }
  }

  .blue {
    @extend .custom-icon;

    i {
      background: $hexagon-blue;
    }
  }

}
