#social {
  -webkit-font-smoothing: antialiased;
  background-color: $brand-secondary;

  .header {
    text-align: center;

    h3 {
      font-family: $lato;
      color: $white;
      line-height: 25px;
      margin-bottom: 45px;

      a {
        color: $white;
      }

      @media(max-width: 991px) {
        line-height: 50;
      }
    }
  }

  .social {

    padding-top: 40;
    padding-bottom: 40;

    .icons {

      a {
        text-decoration: none;
        display: inline-block;
        margin-bottom: 1em;
        @media (max-width: 320) {
          width: 65px;
        }
      }

      i {
        font-size: 40;
        margin-left: 10;
        margin-right: 10;
        background: $brand-secondary;
        opacity: 0.88;
        padding: 10;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
        border: none;
        color: $white;
        text-align: center;
        vertical-align: middle;
        width: 60;
        height: 60;
      }

    }
  }
}
