#info {

  .container {
    border-bottom: 1px solid $gray-ef;
    padding-bottom: 50;
    padding-top: 50;
  }

}

#staff {

  padding-top: 50;

  h3 {
    font-family: $lato;
    color: $gray-dark;
    line-height: 25px;
    margin-top: 50;
    margin-bottom: 50;

    a {
      color: $white;
    }

    @media(max-width: 991px) {
      line-height: 50;
    }
  }

}

