#article {

  .blog-main-image {
    margin: auto;
    max-height: 14em;
  }

  p {
    color: $text-color;
    font-size: 0.95em;
    margin: 1em 0;
    line-height: 1.8;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
  }

  pre {
    font-size: 0.8em;
  }

  h2,
  h3,
  h4 {
    font-family: $lato;
    color: $gray;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1.2em;
  }

  .avatar {
    max-width: 25px;
    border-radius: 100%;
    border: 1px solid $gray-ef;
  }

  #page-content {
    .container {
      border-bottom: 1px solid $gray-ef;
      padding-bottom: 50;
      padding-top: 50;
    }
  }

  #email-subscribe {
    .container {
      border-bottom: 1px solid $gray-ef;
      padding-bottom: 25px;
      padding-top: 25px;
    }

    a {

      font-weight: 300;
      color: $brand-primary-dark;

      &:hover {
        text-decoration: none;
      }

      i {
        color: $brand-warning;
        margin-right: 25px;
        margin-left: 25px;
      }
    }

  }

  #main-pic {
    .container {
      border-bottom: 1px solid $gray-ef;
      padding-bottom: 50;
      padding-top: 50;
    }
  }

}
