// Override.
@import 'base/variables';

// Vendor stylesheets
@import 'bootstrap-sass-twbs/assets/stylesheets/bootstrap';
@import 'prism';

// KalaStatic Extendables and Mixins
@import 'base/mixins';
@import 'base/bootstrap-overrides';
@import 'base/extendables';
@import 'base/typography';
@import 'base/elements';
@import 'fontawesome';
@import 'devicon';
@import 'kalabox';

/*
Custom Components

The following are components that are built specifically for the site.

Custom
*/
@import '../../templates/components/molecules/bio/bio';
@import '../../templates/components/molecules/modal/modal';
@import '../../templates/components/molecules/quote/quote';
@import '../../templates/components/molecules/service/service';
@import '../../templates/components/molecules/teaser/teaser';

@import '../../templates/components/organisms/cta/cta';
@import '../../templates/components/organisms/footer/footer';
@import '../../templates/components/organisms/hero/hero';
@import '../../templates/components/organisms/recent/recent';
@import '../../templates/components/organisms/sf/sf';
@import '../../templates/components/organisms/social/social';
@import '../../templates/components/organisms/stats/stats';
@import '../../templates/components/organisms/tags/tags';
@import '../../templates/components/organisms/testimonials/testimonials';
@import '../../templates/components/organisms/valuesec/valuesec';

/**
 * Pages
 */
@import 'pages/about';
@import 'pages/article';
@import 'pages/blog';
@import 'pages/contact';
@import 'pages/homepage';
@import 'pages/services';

body {
  font-size: $font-size-base;
}

a {
  .hexagon {
    &:hover {
      color: $white;
    }
  }
}

.hexagon {
  margin-top: 30;
  width: 104px;
  height: 60;
  background-color: transparent;
  position: relative;
  text-align: center;
  color: $white;

  &::before {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 30 solid transparent;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30;
    left: 0;
  }

  &::after {
    content: '';
    width: 0;
    position: absolute;
    bottom: -30;
    left: 0;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
  }

  i {
    font-size: 75px;
    position: relative;
    top: -8px;
  }

}

.hexagon-red {
  @extend .hexagon;
  background-color: $hexagon-red;

  &::before {
    @extend .hexagon::before;
    border-bottom: 30 solid $hexagon-red;
  }

  &::after {
    @extend .hexagon::after;
    border-top: 30 solid $hexagon-red;
  }

}

.hexagon-orange {
  @extend .hexagon;
  background-color: $hexagon-orange;

  &::before {
    @extend .hexagon::before;
    border-bottom: 30 solid $hexagon-orange;
  }

  &::after {
    @extend .hexagon::after;
    border-top: 30 solid $hexagon-orange;
  }

}

.hexagon-yellow {
  @extend .hexagon;
  background-color: $hexagon-yellow;

  &::before {
    @extend .hexagon::before;
    border-bottom: 30 solid $hexagon-yellow;
  }

  &::after {
    @extend .hexagon::after;
    border-top: 30 solid $hexagon-yellow;
  }

}

.hexagon-green {
  @extend .hexagon;
  background-color: $hexagon-green;

  &::before {
    @extend .hexagon::before;
    border-bottom: 30 solid $hexagon-green;
  }

  &::after {
    @extend .hexagon::after;
    border-top: 30 solid $hexagon-green;
  }

}

.hexagon-blue {
  @extend .hexagon;
  background-color: $hexagon-blue;

  &::before {
    @extend .hexagon::before;
    border-bottom: 30 solid $hexagon-blue;
  }

  &::after {
    @extend .hexagon::before;
    border-top: 30 solid $hexagon-blue;
  }

}

a,
button {
  &:focus {
    outline: none;
  }
}

canvas {
  .particles-js-canvas-el {
    position: absolute;
  }
}

#header-title {

  h1 {
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
    color: $gray;
    margin-top: 31px;
    margin-bottom: 15.5px;

    a {
      color: $white;
    }

    @media(max-width: 991px) {
      line-height: 50;
    }
  }

  .container {
    border-bottom: 1px solid $gray-ef;
    padding-bottom: 50;
    padding-top: 50;
  }
}

.icon-wrapper {
  display: inline-block;
}

.navbar {
  .icon-bar {
    width: 33px;
    height: 4px;
    border-bottom: 3px solid $white;
  }

  &.normal {
    min-height: 70;
    border-radius: 0;
    box-shadow: 0 1px 3px 1px rgba($gray-base, 0.3), inset rgba($white, 0.2) 0 1px 1px;
    border: none;
    z-index: 9999;
    -webkit-font-smoothing: antialiased;

    .navbar-header {
      .navbar-brand {
        color: $white;
        padding: 25px 15px;
        font-weight: 500;
        font-size: 23px;
      }

      .navbar-toggle {
        margin-top: 17px;
      }
    }

    .navbar-collapse {

      @media(min-width: 768px) {
        text-align: center;
      }

      .navbar-nav {

        @media(min-width: 768px) {
          float: none;
          display: inline-block;
        }

        > li {
          float: none;
          display: inline-block;

          @media(max-width: 767px) {
            display: block;
          }

          &.active {
            > a {
              background: none;
              color: $white;
            }
          }

          @include transition(color 0.2s linear);

          > a {
            padding: 25px 20;
            color: $gray;
            font-weight: 500;
            z-index: 1001;

            @media(max-width: 767px) {
              padding: 18px 20;
            }

            &:hover {
              color: $white;
            }
          }

          &.open {
            ul {
              .dropdown-menu {
                a {
                  @media(max-width: 767px) {
                    color: $white;
                    padding: 12px 18px 12px 30;
                  }
                }
              }
            }
          }

          ul {
            .dropdown-menu {
              text-align: left;
              padding: 9px 0;

              li a {
                padding: 8px 18px;
              }
            }
          }
        }

        .button {
          padding: 8px 18px;
          font-size: 13px;
          position: relative;
          top: 17px;

          @media(max-width: 767px) {
            box-shadow: none;
            background: none;
            top: 0;
            margin-bottom: 20;
            color: $gray;
            font-size: 15px;
          }
        }
      }
    }
  }

  &.hero {
    margin: 0;
    border-radius: 0;
    border: nonepx;
    z-index: 999;
    background-color: $brand-primary-light;
    padding: 0.5em 0;
    padding-bottom: 0;
    -webkit-font-smoothing: antialiased;

    @media (min-width: 768px) {

      .navbar-nav >.active > a {
        color: $white;
      }
    }

    .navbar-brand {
      color: $white;
      font-weight: 500;
      font-size: 1.5em;
      font-family: $lato;
    }

    .navbar-nav {
      > li {

        &.dropdown > a .caret {
          border-top-color: $gray-ef;
        }

        @include transition(color 0.2s linear);

        > a {
          color: $white;
          font-size: 1em;
          padding: 15px 20;
          font-weight: 300;

          &:hover {
            color: $white;
          }
        }

        &.contact {

          @media (max-width: 767px) {
            margin: 0;
            border-radius: 0;
          }

          background-color: $brand-warning;
          border-radius: 5px;
          font-weight: 500;
          margin-right: 10;
          text-transform: uppercase;

          > a {
            padding: 5px 10;
            color: $gray-dark;
          }
        }

        &.open {
          > a {
            color: $white;
            background-color: rgba($gray-base, 0.8);
            border-radius: 4px 4px 0 0;
          }

          ul {
            .dropdown-menu {
              a {
                @media(max-width: 767px) {
                  color: $white;
                  padding: 12px 18px 12px 30;
                }
              }
            }
          }
        }

        ul {
          .dropdown-menu {
            text-align: left;
            background: rgba($gray-base, 0.8);
            box-shadow: none;
            padding: 5px 0 8px;
            border-radius: 4px 0 4px 4px;
            border: nonepx;

            li a {
              color: $white;
              padding: 10 18px;
              font-size: 15px;

              &:hover {
                color: $gray-ef;
                background: none;
              }
            }
          }
        }
      }
    }
  }

  &.white {
    min-height: 70;
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    z-index: 999;
    -webkit-font-smoothing: antialiased;

    @media (min-width: 768px) {
      background: $white;
      box-shadow: 0 1px 5px rgba($gray-base, 0.75);
    }

    .container {
      @media (min-width: 1200) {
        width: 1000;
      }
    }

    .navbar-header {
      .navbar-brand {
        color: $gray-dark;
        font-weight: bold;
        font-size: 30;
        font-family: $lato;
        padding-top: 24px;

        @media (max-width: 767px) {
          color: $white;
          font-size: 20;
        }
      }

      .navbar-toggle {
        margin-top: 17px;
      }
    }

    .navbar-collapse {

      @media(min-width: 768px) {
        text-align: center;
      }

      .navbar-nav {

        @media(min-width: 768px) {
          float: none;
          display: inline-block;
        }

        > li {
          float: none;
          display: inline-block;

          @media(max-width: 767px) {
            display: block;
          }

          &.active {
            > a {
              background: none;
              color: $gray-dark;
            }
          }

          @include transition(color 0.2s linear);

          > a {
            padding: 25px 20;
            color: $gray;
            z-index: 1001;

            &.signup {
              border: 1px solid $gray-light;
              border-radius: 5px;
              padding: 8px 11px;
              font-size: 13px;
              color: $gray-dark;
              margin-left: 20;
            }

            @media(max-width: 767px) {
              padding: 18px 20;
              color: $white;
            }

            .fa-chevron-down {
              color: $gray-light;
              font-size: 8px;
              margin-left: 2px;
              position: relative;
              top: -1px;
            }

            &:hover {
              color: $gray-dark;

              @media(max-width: 767px) {
                color: $white;
              }
            }
          }

          &.open {
            > a {
              @media(min-width: 768px) {
                background: $white;
                color: $gray-dark;
              }

              .caret {
                border-top-color: $gray-light;
                border-bottom-color: $gray-light;
              }
            }

            ul {
              .dropdown-menu {
                a {
                  @media(max-width: 767px) {
                    color: $white;
                    padding: 12px 18px 12px 30;
                  }
                }
              }
            }
          }

          ul {
            .dropdown-menu {
              text-align: left;
              border: none;
              padding: 0 0 10;
              box-shadow: 0 8px 12px rgba($gray-base, 0.175);

              li a {
                padding: 8px 18px;
              }
            }
          }
        }

      }
    }
  }
}

.row.header {
  h3 {
    @media (max-width: 767px) {
      font-size: 1em;
      line-height: 1.5em;
    }
    margin: 0;
    font-family: $lato;
    color: $gray-dark;
    line-height: 1.5em;
    padding: 1em 0;
  }
}

.container.border-bottom {
  border-bottom: 1px solid $gray-ef;
}
