#tags {

  .container {
    padding-bottom: 2em;
    padding-top: 2em;
  }

  .label {
    background: $hexagon-red;
    color: $white;
    padding: 10;
    margin: 5px;
    display: inline-block;

    a {
      color: $white;
    }

  }
}
