#sf {

  padding-top: 2em;
  padding-bottom: 2em;

  h3 {
    font-family: $lato;
    color: $gray-dark;
    line-height: 1.25em;
    margin-top: 1em;

    a {
      color: $white;
    }
  }

  .sf {
    path {
      .color {
        fill: $international-orange;
      }
    }
  }
}
