#footer {
  background: $brand-primary;
  -webkit-font-smoothing: antialiased;

  @media(max-width: 991px) {
    padding-top: 30;
  }

  .credits {
    color: $white;
    font-size: 13px;
    text-align: center;
    padding: 20;
  }
}
