@include backgroundGradient($brand-primary-dark, $brand-primary-light);
@include transition(all 0.2s linear);

.button {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  padding: 13px 32px;
  font-weight: 400;
  font-size: 17px;
  color: $white;
  text-shadow: rgba($gray-base, 0.2) 0 -1px 0;
  border: nonepx;
  border-radius: 5px;
  box-shadow: rgba($gray-base, 0.3) 0 1px 2px, inset rgba($white, 0.88) 0 1px 3px -1px;
  background-color: $brand-primary;

  &:hover {
    color: $white;
    text-decoration: none;
  }

  &:active {
    box-shadow: inset 0 3px 3px rgba($gray-base, 0.29);
  }

  &.button-small {
    padding: 10 33px;
    border: 1px solid $brand-primary-light;
    font-size: 14px;
    font-weight: 500;
  }
}

@include transition(all 0.2s linear);

.button-outline {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  color: $white;
  padding: 12px 31px;
  border: 2px solid $white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  background: rgba($gray-base, 0.15);
  text-shadow: 1px 1px 1px rgba($gray-base, 0.1);

  &:hover {
    text-decoration: none;
    color: $gray-ef;
    border-color: $gray-ef;
  }
}

.button-clear {
  -webkit-font-smoothing: antialiased;
  border: none;
  outline: none;
  padding: 1px;
  display: inline-block;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 rgba($gray-base, 0.075);
  -moz-box-shadow: 0 1px 0 rgba($gray-base, 0.075);
  -ms-box-shadow: 0 1px 0 rgba($gray-base, 0.075);
  -o-box-shadow: 0 1px 0 rgba($gray-base, 0.075);
  box-shadow: 0 1px 0 rgba($gray-base, 0.075);

  background: $gray;
  background: -webkit-linear-gradient($gray-lighter, $gray);
  background: -moz-linear-gradient($gray-lighter, $gray);
  background: -ms-linear-gradient($gray-lighter, $gray);
  background: -o-linear-gradient($gray-lighter, $gray);
  background: linear-gradient($gray-lighter, $gray);

  span {
    display: block;
    font-size: 14px;
    padding-left: 23px;
    padding-right: 23px;
    height: 36px;
    line-height: 33px;
    border-radius: 4px;
    font-weight: bold;

    color: $gray;
    text-shadow: 0 1px 0 $white;
    background: $gray-ef;
    background: -webkit-linear-gradient($gray-lighter, $gray-ef);
    background: -moz-linear-gradient($gray-lighter, $gray-ef);
    background: -ms-linear-gradient($gray-lighter, $gray-ef);
    background: -o-linear-gradient($gray-lighter, $gray-ef);
    background: linear-gradient($gray-lighter, $gray-ef);
    -webkit-box-shadow: inset 0 1px 0 $white;
    -moz-box-shadow: inset 0 1px 0 $white;
    -ms-box-shadow: inset 0 1px 0 $white;
    -o-box-shadow: inset 0 1px 0 $white;
    box-shadow: inset 0 1px 0 $white;
  }

  &:hover {
    text-decoration: none;
  }

  &:active,
  &.active {
    background: $gray;
    background: -webkit-linear-gradient($gray, $gray);
    background: -moz-linear-gradient($gray, $gray);
    background: -ms-linear-gradient($gray, $gray);
    background: -o-linear-gradient($gray, $gray);
    background: linear-gradient($gray, $gray);

    span {
      color: $gray;
      background: $gray-ef;
      background: -webkit-linear-gradient($gray-lighter, $gray-ef);
      background: -moz-linear-gradient($gray-lighter, $gray-ef);
      background: -ms-linear-gradient($gray-lighter, $gray-ef);
      background: -o-linear-gradient($gray-lighter, $gray-ef);
      background: linear-gradient($gray-lighter, $gray-ef);
      -webkit-box-shadow: inset 0 1px 0 rgba($gray-base, 0.1);
      -moz-box-shadow: inset 0 1px 0 rgba($gray-base, 0.1);
      -ms-box-shadow: inset 0 1px 0 rgba($gray-base, 0.1);
      -o-box-shadow: inset 0 1px 0 rgba($gray-base, 0.1);
      box-shadow: inset 0 1px 0 rgba($gray-base, 0.1);
    }
  }
}


/* form controls */

input {

  @include placeholder {
    font-weight: 300;
  }

  &.form-control {
    box-shadow: inset 0 1px 1px rgba($gray-base, 0.2);
    -webkit-box-shadow: inset 0 1px 1px rgba($gray-base, 0.2);
    -moz-box-shadow: inset 0 1px 1px rgba($gray-base, 0.2);

    &:focus {
      border-color: $gray-light;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba($gray-base, 0.075), 0 0 6px rgba($brand-primary-light, 0.6);
    }
  }
}

textarea {

  @include placeholder {
    color: $gray;
    font-weight: 400;
    font-size: 14px;
  }

  &.form-control {
    box-shadow: inset 0 1px 1px rgba($gray-base, 0.2);
    -webkit-box-shadow: inset 0 1px 1px rgba($gray-base, 0.2);
    -moz-box-shadow: inset 0 1px 1px rgba($gray-base, 0.2);

    &:focus {
      border-color: $gray-light;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba($gray-base, 0.075), 0 0 6px rgba($brand-primary-light, 0.6);
    }
  }
}
